//--------------------
//       ESTIMATE
//--------------------

//-- ZERO form
.zero-form {
	.start-choose {
		@extend %clearfix;
		width: 500px;
		margin: 0 auto;
		@include breakpoint(mobile) {
			width: 100%;
		}
		.start__house,
		.start__car {
			position: relative;
			width: 48%;
			height: 240px;
			float: left;
			margin-right: 4%;
			background-color: #F7F7F7;
			cursor: pointer;
			@include breakpoint(mobile) {
				height: 15rem;
			}
			&:nth-of-type(2) {
				margin-right: 0;
			}
			h3 {
				@include absolute(center-horizontal);
				bottom: 40px;
				font-size: 20px;
				@include breakpoint(mobile) {
					font-size: 1.3rem;
					bottom: 2rem;
				}
			}
			.img-wrapper {
				@include absolute(center);
				width: 77px;
				@include breakpoint(mobile) {
					width: 5rem;
				}
				img {
					width: 100%;
				}
			}
			.icon-success {
				display: none;
				position: absolute;
				right: 20px;
				top: 20px;
				font-size: 40px;
				@include breakpoint(mobile) {
					font-size: 30px;
				}
				@include breakpoint(mobile--s) {
					right: 12px;
					top: 12px;
					font-size: 20px;
				}
			}
			&.active {
				background-color: $c-white;
				box-shadow: 30px 30px 60px rgba(0,0,0,0.1);
				transform: scale(1.1);
				.icon-success {
					display: block;
				}
 			}
		}
	}

}

.alternative-form {
	margin-top: 175px;
}

.estimate-wrapper {

}

.btn-tab {
	float: left;
	position: relative;
	width: 160px;
	height: 41px;
	background-color: #D9D9D9;
	font-family: $baseFont-bold;
	font-size: 16px;
	cursor: pointer;
	@include breakpoint(desktop--small) {
		width: 50%;
	}
	@include breakpoint(mobile--s) {
		font-size: 1.6rem;
	}
	span {
		@include absolute(center);
		width: 60%;
		text-align: center;
	}
	&.btn-tab-house {
		background-color: #EDEDED;
	}
}

.tab-wrapper {
	position: relative;
	top: 1px;
	@extend %clearfix;
	max-width: 1266px;
	width: 90%;
	margin: 0 auto;
	@include breakpoint(desktop--small) {
		width: 100%;
	}
	&.active-home {
		.btn-tab-house {
			background-color: #EDEDED;
		}
		.btn-tab-car {
			background-color: #D9D9D9;
		}
	}
	&.active-car {
		.btn-tab-house {
			background-color: #D9D9D9;
		}
		.btn-tab-car {
			background-color: #EDEDED;
		}
	}
}

.starting-form {
	@extend %clearfix;
	padding: 41px 56px 34px;
	max-width: 1266px;
	width: 90%;
	margin: 0 auto;
	background: #EDEDED;
	text-align: center;
	box-shadow: 15px 15px 20px rgba(0,0,0,0.16);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	@include breakpoint(desktop--small) {
		width: 100%;
		padding: 41px 2rem;
	}
	@include breakpoint(mobile) {
		padding: 41px 2rem;
	}
	.input-group {
		position: relative;
		float: left;
		text-align: left;
		width: 18.632%;
		margin-right: 1.3%;
		@include breakpoint(desktop--small) {
			float: none;
			width: 500px;
			margin: 0 auto;
			margin-bottom: 15px;
		}
		@include breakpoint(mobile) {
			margin-bottom: 1.5rem;
			width: 100%;
		}
		label {
			font-size: 14px;
			margin-bottom: 8px;
			color: #444;
			@include breakpoint(desktop--small) {
				display: none;
			}
		}
	}
	.input-wrapper {
		position: relative;
		width: 100%;
		height: 48px;
		border-radius: 5px;
		overflow: hidden;
		&--datepicker {
			overflow: visible;
			input {
				border-radius: 5px;
			}
		}

		input {
			width: 100%;
			height: 100%;
			padding: 0 16px 0 43px;
			font-size: 14px;
			background-color: $c-white;
			&::placeholder {
				font-family: $baseFont;
				color: #AAAAAA;
			}
		}
		i {
			@include absolute(center-vertical);
			left: 15px;
		}
		
	}
	label {
		display: block;
	}
	.btn-submit {
		float: left;
		background-color: $c-lightBlue;
		border: none;
		color: $c-white;
		width: 20%;
		height: 49px;
		text-transform: uppercase;
		border-radius: 5px;
		font-family: $baseFont-med;
		margin-top: 24px;
		box-shadow: none;
		cursor: pointer;
		outline: none;
		@include breakpoint(desktop--small) {
			display: block;
			float: none;
			width: 500px;
			margin: 0 auto;
			margin-top: 0;
		}
		@include breakpoint(mobile) {
			width: 100%;
			height: 45px;
		} 
	}
	.form-dropdown {
		position: absolute;
		bottom: -20px;
		left: 0;
	}
}

.room__items-list {
	height: auto;
	overflow: hidden;
	@include breakpoint(desktop--small) {
		display: none;
	}

}

//--DATEPICKER

.vdp-datepicker {

	width: 100%;
    height: 100%;
    input {
    	font-family: $baseFont;
    	height: 48px!important;
    }
}

.input-wrapper .vdp-datepicker__calendar {
	top: 102%!important;
	width: 100%!important;
	border: none!important;
	box-shadow: 20px 20px 40px rgba(0,0,0,0.1);
	border-radius: 5px;
	.cell {
		font-size: 12px;
		height: 30px;
    	line-height: 30px;
	}
}

span.cell.day-header:first-letter {
    visibility: visible;
    text-align: center;
    padding-left: 6px;
}

span.cell.day-header {
    visibility: hidden;
}

span.day__month_btn.up {
	font-family: $baseFont-bold;
    font-size: 15px!important;
}

.modal-wrapper.step-2 {
	position: fixed;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: $c-white;
}

.steps-show-bar {
	padding: 20px 0 40px;
	background-color: #F7F7F7;
	@extend %clearfix;
	text-align: center;
	ul {
		li {
			position: relative;
			display: inline-block;
			margin-right: 10%;
			width: 40px;
			height: 40px;
			background-color: #EDEDED;
			border-radius: 50%;
			z-index: 2;
			@include breakpoint(mobile--s) {
				width: 2.3rem;
				height: 2.3rem;
				margin-right: 13%;
			}
			&:last-child {
				margin-right: 0;
				&:after {
					display: none;
				}
			}
			&:first-letter {
				@include breakpoint(mobile) {
					text-transform: uppercase;
				}
			}
			em {
				font-style: normal;
				@include breakpoint(mobile) {
					display: none;
				}
			}
			&:after {
				width: 16rem;
				height: 2px;
				left: 40px;
				background-color: #DDDDDD;
				content: "";
				@include absolute(center-vertical);
				z-index: 1;
				@include breakpoint(desktop--small) {
					width: 4rem;
					left: 38px;
				}
				@include breakpoint(mobile) {
					width: 5rem;
					left: 2rem;
				}
				@include breakpoint(mobile--l) {
					left: 2.5rem;
				}
			}
			span {
				@include absolute(center);
				font-size: 16px;
				color: #AAAAAA;
				@include breakpoint(mobile--s) {
					font-size: 1.4rem;
				}
				
			}
			i {
				@include absolute(center-horizontal);
				font-style: normal;
				font-size: 12px;
				text-align: center;
				width: 320%;
				top: 50px;
				@include breakpoint(mobile--s) {
					top: 4rem;
					font-size: 1rem;
				}
				&:first-letter {
					@include breakpoint(mobile) {
						text-transform: uppercase;
					}
				}
			}
			&.passed {
				background-color: $c-mainOrange;
				span {
					color: $c-white;
				} 
				&:after {
					background-color: $c-mainOrange;
				}
			}
			&.active {
				border: 2px solid $c-mainOrange;
				span {
					color: $c-mainOrange;
				} 
			}
		}
	}
}

.main-panel {
	padding: 72px 0 100px;
	@include breakpoint(mobile) {
		padding: 3rem 0 5rem;
	}
}

.info-data-container {
	max-width: 500px;
	
	width: 90%;
	margin: 0 auto;
}

.step__title {
	margin-bottom: 38px;
	font-size: 24px;
	text-align: center;
	@include breakpoint(mobile) {
		padding: 0 5rem;
		font-size: 1.8rem;
	}
}

.info-data {
	.input-wrapper {
		width: 100%;
		margin-bottom: 15px;
		border-radius: 5px;
		overflow: hidden;
		input {
			width: 100%;
			height: 100%;
			padding: 0 16px;
			border-radius: 5px;
			font-family: $baseFont;
			background-color: #F2F2F2;
			&:focus {
				border: 1px solid #AFAEAE;
			}
		}
	}
}

.btn-default {
	position: relative;
	margin-top: 44px;
	width: 140px;
	color: $c-white;
	height: 48px;
	font-family: $baseFont-med;
	border-radius: 5px;
	background-color: $c-mainGreen;
	cursor: pointer;
	span {
		@include absolute(center);
		width: 70%;
		text-align: center;
	}
	&.btn-back {
		float: left;
	}
	&.btn-next {
		float: right;
	}
	&.b-grey {
		background-color: #616161;
	}
	&.b-red {
		background-color: $c-mainRed;
	}
	&.b-blue {
		background-color: $c-lightBlue;
	}
	&.b-white {
		border: 1px solid #858585;
		background-color: $c-white;
		color: #858585;
	}
}

.items-picker-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
}
.room {
	position: relative;
	width: 100%;
	margin-bottom: 80px;
	color: #444;
	@include breakpoint(desktop--small) {
		height: 60px;
		margin-bottom: 0;
		border-bottom:  1px solid #f2f2f2;
	}
	&.expand {
		height: auto!important;
		@include breakpoint(desktop--small) {
			padding-bottom: 40px;
		}
		.room__items-list {

			@include breakpoint(desktop--small) {
				display: block;
			}
		}
	}
	&__tab {
		position: relative;
		padding-bottom: 35px;
		@include breakpoint(desktop--small) {
			position: relative;
			padding: 20px 0;
			cursor: pointer;
		}
		i {
			display: none;
			@include breakpoint(desktop--small) {
				display: block;
				@include absolute(center-vertical);
				top: 45%;
				right: 50px;
			}
		}
	}
	h3 {
		font-size: 18px;
	}

	.item,
	.add-items {
		position: relative;
		float: left;
		padding: 15px;
		width: 19.2%;
		margin-right: 1%;
		margin-bottom: 1%;
		height: 151px;
		background-color: #F7F7F7;
		@extend %clearfix;
		@include breakpoint(desktop--small) {
			height: auto;
			float: none;
			width: 100%;
			background-color: transparent;
			margin-right: 0;
			padding: 0;
		}
		&:nth-of-type(5n) {
			margin-right: 0;
		}
		h5 {
			font-size: 12px;
			@include breakpoint(desktop--small) {
				font-size: 14px;
			}
		}
		&__top {
			@include breakpoint(desktop--small) {
				position: relative;
				float: left;
				width: 75.5%;
				height: 60px;
				margin-right: 0.5%;
				background-color: #f7f7f7;
				padding: 20px;
			}
			.item__remove{
				@include breakpoint(desktop--small) {
					top: 50%;
					transform: translateY(-50%);
				}
			}	
		}
		&__img {
			@include breakpoint(desktop--small) {
				position: absolute;
			}
		}
		.icon-note {
			position: absolute;
			top: 15px;
			right: 15px;
			cursor: pointer;
			@include breakpoint(desktop--small) {
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
			}
		}

	}

	.item__remove {
		position: absolute;
		right: 15px;
		top: 15px;
	}
	.add-items {
		margin-right: 0;
		cursor: pointer;
		background-color: #E6E6E6;
		@include breakpoint(desktop--small) {
			height: 60px;
		}
		i {
			@include absolute(center-horizontal);
			top: 26px;
			font-size: 12px;
			font-style: normal;
			@include breakpoint(desktop--small) {
				top: 50%;
				transform: translate(-50%, -50%);
				padding-left: 50px;
				font-size: 14px;
			}
		}
		span {
			@include absolute(center);
			font-size: 50px;
			@include breakpoint(desktop--small) {
				font-size: 28px;
				padding-right: 35px;
			}
		}
	}
	.img-holder {
		position: absolute;
		left: 30px;
		bottom: 20px;
		width: 40px;
		height: 40px;
		@include breakpoint(desktop--small) {
			display: none;
		}
		img {
			width: 100%;
		}
	}
}

.input-wrapper {
	&.select-wrapper {
			overflow: visible;
			.select {
				width: 100%;
				min-height: 49px;
				background-color: $c-white;
				border-radius: 5px;
				
			}
			.select__label {
				height: 49px;
				padding: 16px 16px 16px 43px;
				font-size: 14px;
				color: #000;
				&.size {
					color: #aaa;
				}
			}
			.select__option {
				font-size: 14px;
				padding: 16px 16px 16px 43px;
				color: #000;

			}
			.select__options {
				box-shadow: 20px 20px 40px rgba(0,0,0,0.1);
			}
		} 
}
.addroom-box {
	position: fixed;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	width: 292px;
	height: 444px;
	background: $c-white;
	overflow: hidden;
	border-radius: 5px;
	@include breakpoint(mobile) {
		width: 90%;
	}
	h2 {
		padding: 20px;
		font-size: 16px;
	}
	ul {
		width: 104%;
		box-sizing: content-box;
		@include breakpoint(mobile) {
			width: 100%;
		}
	}
	[class^="icon-"], [class*=" icon-"] { 
		@include absolute(center-vertical);
		top: 52%;
		left: 20px;
		
		span {
			font-size: 20px;
		}
	}
	li {
		position: relative;
		list-style-type: none;
		padding: 18px 0 18px 50px;
		cursor: pointer;
		transition: all ease 0.3s;
		span {
			font-size: 12px;
		}
		&:hover {
			background-color: #F2F2F2;
		}
	}
	&__main {
		width: 100%;
		height: 350px;
		overflow: auto;
		box-sizing: content-box;
		padding-right: 12px;
		@include breakpoint(mobile) {
			padding-right: 0;
		}
	}
}

.close {
	position: absolute;
	right: 20px;
	top: 20px;
	font-style: normal;
	cursor: pointer;
}

.quantity {
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 20px;
	text-align: center;
	display: table;
	@include breakpoint(desktop--small) {
		position: static;
		display: block;
		float: left;
		width: 24%;
		height: 60px;
		background-color: #f7f7f7;
	}
	.inner {
		@include breakpoint(desktop--small) {
			display: table;
			width: 100%;
			height: 100%;
		}
	}
	.increase,
	.decrease {
		position: relative;
		top: -4px;
		display: table-cell;
		padding: 0 9px;
		vertical-align: middle;
		font-style: normal;
		font-size: 24px;
		color: #aaa;
		cursor: pointer;
		@include breakpoint(desktop--small) {
			width: 33.33%;
		}
	}
	.decrease {
	
		
	}
	span {
		display: table-cell;
		vertical-align: middle;
		@include breakpoint(desktop--small) {
			width: 33.33%;
		}
	}
}

.clear-note {
	@extend %clearfix;
	margin-bottom: 80px;
	padding: 40px 32px 44px 74px;
	box-shadow: 20px 20px 40px rgba(0,0,0,0.05);
	@include breakpoint(mobile) {
		padding: 5.6rem 3rem 3rem;
	}
	.inner-wrapper,
	.btn-wrapper {
		float: left;
		width: 60%;
		@include breakpoint(mobile) {
			width: 100%;
			float: none;
		}

	}
	.inner-wrapper {
		padding-right: 40px;
		@include breakpoint(mobile) {
			padding-right: 0;
			margin-bottom: 3rem;
		}
		p {
			font-size: 13px;
			line-height: 1.4;
		}
	}
	.btn-wrapper {
		width: 40%;
		text-align: right;
		@include breakpoint(mobile) {
			width: 100%;
		}
		.b-white {
			margin-right: 16px;
			@include breakpoint(tablet--landscape) {
				margin-right: 0;
				margin-bottom: 16px;
			}
		}
	}
	.btn-default {
		margin-top: 0;
		display: inline-block;
		width: 164px;
		@include breakpoint(mobile) {
			display: block;
			width: 100%;
		}
	}
}

.btn-dots-edit {
	position: absolute;
	top: -3px;
	right: 0;
	font-size: 30px;
	cursor: pointer;
	@include breakpoint(desktop--small) {
		top: 15px;
	}
	i {
		display: block;
		font-style: normal;
	}
	&.active {
		.edit-menu {
			display: block;
		}
	}

}

.edit-menu {
	display: none;
	position: absolute;
	right: 0;
	top: 35px;
	width: 120px;
	height: 74px;
	z-index: 2;
	padding: 13px 0 0 23px;
	box-shadow: 10px 10px 20px rgba(0,0,0,0.16);
	border-radius: 5px;
	background-color: $c-white;
	span {
		display: block;
		margin-bottom: 10px;
		font-size: 14px;
		cursor: pointer;
	}
	
}
.remove-modal,
.rename-modal,
.note-modal,
.addroom-modal,
.remove-all-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: rgba(0,0,0,0.7);

	h4 {
		margin-bottom: 65px;
		font-size: 16px;
	}
	p {
		font-size: 14px;
		line-height: 1.4;
	}
	.close {
		position: absolute;
		right: 20px;
		top: 20px;
		font-size: 20px;
	}
	.btn-default {
		margin-top: 15px;
	}
}

.addroom-modal,
.remove-all-modal {
	display: block;
}

.remove-all-modal {
	.ask-box {
		width: 467px;
		padding-top: 70px;
		text-align: center;
		@include breakpoint(mobile) {
			width: 90%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		p {
			margin-bottom: 60px;
			padding: 0 40px;
		}
		.btn-default {
			width: 192px;
			margin: 0 5px;
			@include breakpoint(mobile) {
				width: 125px;
			}
		}
	}
}

.room {
	&.showModal {
		.remove-modal {
			display: block;

		}
	}
	&.showRenameModal {
		.rename-modal {
			display: block;
		}
	}
}

.item.showNoteModal {
	.note-modal {
		display: block;
		h4 {
			margin-bottom: 50px;
		}
		h6 {
			margin-bottom: 14px;
			font-size: 14px;
		}
		.ask-box {
			height: 364px;
			@include breakpoint(mobile) {
				width: 90%;
				left: 50%;
				transform: translateX(-50%, -50%);
			}
		}
	}
	.btn-default {
		background-color: $c-lightBlue;
	}
	.textarea-wrapper {
		width: 100%;
		textarea {
			width: 100%;
			height: 142px;
			padding: 14px 18px;
			font-family: $baseFont;
			font-size: 14px;
			border: none;
			background-color: #F2F2F2;
			border-radius: 5px;
			resize: none;
			outline: none;
		}
	}
}

.remove-modal {
	.btn-default {
		background-color: $c-mainRed;
	}
}

.ask-box {
	@include absolute(center);
	width: 268px;
	height: 250px;
	padding: 20px;
	background-color: $c-white;
	border-radius: 5px;
	@include breakpoint(mobile) {
		width: 90%;
		left: 50%;
		transform: translateX(-50%, -50%);
	}
	.btn-ask-box {
		@extend .btn-default;
		width: 100%;
	}
}

.addItem-modal {
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 5;	
	ul {
		list-style-type: none;
	}
	li {

		margin: 16px 0;
		cursor: pointer;
		span {
			font-size: 12px;
			
		}
		.plus {
			float: right;
		}
		.item-to-add.checked {
			.plus {
				color: $c-mainGreen;
				font-size: 16px;
			}
		}
	}
	.close {
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}
	h2 {
		margin-bottom: 30px;
		font-size: 16px;
	}
	.ask-box {
		width: 348px;
		height: 572px;
		
		border-radius: 5px;
		@include breakpoint(mobile) {
			width: 90%;
		}
	} 
	.inner-wrapper {
		overflow: hidden;
	}
	.list-wrapper {
		width: 100%;
		height: 280px;
		overflow-y: scroll;
		padding-right: 12px; /* Increase/decrease this value for cross-browser compatibility */
		box-sizing: content-box; /* So the width will be 100% + 17px */
	}
	.input-wrapper {
		margin-bottom: 30px;
	}
	h6 {
		margin-bottom: 16px;
		font-size: 16px;
		font-weight: normal;
	}
	.btn-default {
		width: 100%;
		background-color: $c-lightBlue;
	}

}

.custom-field {
	width: auto;
	position: absolute;
	left: 20px;
	right: 20px;
	top: 130px;
	padding-top: 20px;
	z-index: 4;
	background-color: $c-white;
	.form-group {
		margin-top: 30px;
		
		@extend %clearfix;

	}
	.btn-default {
		margin-top: 30px;
	}
	i {
		display: block;
		margin-top: 15px;
		margin-bottom: 48px;
		font-style: normal;
		font-size: 10px;
		clear: both;
	}
	.input-wrapper {
		float: left;
		width: 26.666667%;
		margin-right: 10%;
		&:last-of-type {
			margin-right: 0;
		}
		span {
			display: block;
			margin-bottom: 15px;
			font-size: 12px;
			color: #888888;
		}
		input {
			width: 100%;
			height: 49px;
			background-color: #F2F2F2;
			appearance: none;
			border-radius: 5px;
			 -webkit-appearance: none;
  			margin: 0;
			text-align: center;
			  -moz-appearance:textfield;
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
		    /* display: none; <- Crashes Chrome on hover */
		    -webkit-appearance: none;
		    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
		}

		input[type=number] {
		    -moz-appearance:textfield; /* Firefox */
		}
	}
}

.button-wrapper {
	text-align: center;
	button {
		display: inline-block;
	}
}
.btn-addRoom {
	background-color: #616161;
	width: 360px;
	@include breakpoint(mobile) {
		width: 100%;
	}
}

//--GOOGLE PLACES SEARCH

.pac-container {
	margin-top: -3px!important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top: none!important;
	box-shadow: 20px 20px 40px rgba(0,0,0,0.1)!important;
}

.pac-item {
	font-family: $baseFont!important;
	padding: 10px!important;
	border-top: none!important;
}

//-- ADD cars

.add-cars {
	.froms-container {
		width: 362px;
		margin: 0 auto;
		@include breakpoint(mobile--l) {
			width: 100%;
		}
	}
	.btn-wrapper,
	.btn-default {
		width: 100%;
	}
}

.cars-picekr-wrapper,
.review-page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	background-color: $c-white;
	overflow-y: scroll;
	height: 100%;
}

.add-car__form {
	position: relative;
	margin-bottom: 35px;
	.close {
		top: 0;
		right: 0;
	}
	h4 {
		margin-bottom: 15px;
		font-size: 16px;
	}
	.select-wrapper {
		margin-bottom: 15px;
		.select__label,
		.select__option {
			padding: 16px;
		}
	}
	.select {
		position: relative;
		z-index: 5;
	}
	.select-wrapper .select {
		background-color: #F2F2F2;
	}

}

//-- Review PAGE

.review {
	width: 500px;
	margin: 0 auto;
	&__top {
		@extend %clearfix;
	}
	.top-box {
		float: left;
		width: 50%;
		margin-bottom: 70px;
		&.right {
			padding-left: 40px;
		}
		h3 {
			margin-bottom: 30px;
			font-family: $baseFont-med;
			font-size: 16px;
		}
		
	}
	ul {
		list-style-type: none;
		li {
			margin-bottom: 10px;
			font-size: 12px;
			span {
				font-family: $baseFont-bold;
			}
		}
	}
	&__home {
		h2 {
			margin-bottom: 20px;
			font-size: 18px;
			text-align: center;
		}
	}
	.room {
		h3 {
			margin-bottom: 35px;
			font-size: 16px;
		}
	}
	.room__item {
		border-bottom: 1px solid #D1D1D1;
		p {
			padding: 15px 0;
			font-size: 12px;
		}
		.num {
			margin-right: 10px;
		}
		.sum {
			font-style: normal;
			float: right;
		} 
	}
}

//--ERRORS
.input-errors {
	ul {
		list-style-type: none;
	}
	
	li {
		font-size: 12px;
		color: $c-mainRed;
		margin-bottom: 3px;
	}
}

.input-wrapper {
	&.red {
		input {
			border: 1px solid $c-mainRed!important;
		}
	}
}

