<template>
	<div>
		<!-- add car form-->
		<div class="add-car__form">
			<h4 class="title">Car number <span>{{ indexNum+1 }}</span></h4>
			<span class="close" @click="$emit('remove')">x</span>
			<div class="input-wrapper select-wrapper">
				<custom-select :options="options" value-key="id" label-key="name" v-model="carMaker"></custom-select>
			</div>
			<div class="input-wrapper select-wrapper">
				<custom-select :options="options" value-key="id" label-key="model" v-model="carModel"></custom-select>
			</div>
			<div class="input-wrapper select-wrapper">
				<custom-select :options="options" value-key="id" label-key="year" v-model="carYear"></custom-select>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		props: ['indexNum'],
		data() {
			return {
				options: [
					{ name: 'Audi', id: 1, model: 'A3' },
					{ name: 'BMW', id: 2, model: '320' }, 
					{ name: 'Renault', id: 3, model: 'Scenic' },
					{ year: 2000 },
					{ year: 2001 },
					{ year: 2002 },
					{ year: 2003 }

			    ],
			    carMaker: { name: 'Car Maker', id: 7 },
			    carModel: {model: 'Car Model'},
			    carYear: {year: 'Car Year'}
			}
		},
		methods: {

		}
	}
</script>