<template>
	<div class="addItem-modal" @click="$emit('closeAddItem')">
		<div class="ask-box">
			<div class="inner-wrapper">
				<h2>{{this.currentRoom.room_info.name}}</h2>
				<span class="close" @click="closeAddModel">x</span>
				<div class="input-wrapper">
					<input type="text" placeholder="start typing..." v-model="query">
				</div>
				<h6>Items</h6>
				<div class="list-wrapper">
					
					<ul>
						<li v-for="(match, index) in matches" >
							<div class="item-to-add" @click="addToPrepared(index, $event)">
								<i :class="imgClass(match.image)"></i><span>{{ match.name }} <i class="plus">+</i> </span>
							</div>
						</li>
					</ul>
				</div>
				<div v-if="showCustomField" class="custom-field">
					<div class="inner-wrapper">
						<h2>Items</h2>
						<h3 class="custom-name">{{ query }}</h3>
						<div class="form-group">
							
							<div class="input-wrapper">
								<span>Width(in)</span>
								<input type="number" placeholder="0" v-model="itemWidth">
							</div>
							
							<div class="input-wrapper">
								<span>Height(in)</span>
								<input type="number" placeholder="0" v-model="itemHeight">
							</div>
							
							<div class="input-wrapper">
								<span>Depth(in)</span>
								<input type="number" placeholder="0" v-model="itemDepth">
							</div>
							
						</div>
						<i>In order to add this item, please insert item dimensions.</i>
						<p>Feel free to add more than one item to your room. Click done when you finish. You can add custom item by typing it in the search box.</p>
						<button class="btn-default btn-save" @click="saveCustomItem(index)"><span>Save</span></button>
					</div>
				</div>
			</div>
			<button class="btn-default btn-done" @click="addItem(index,$emit)"><span>Done</span></button>
			</div>
	</div>
</template>
<script>
	import { dataBus } from '../main';
	export default {
		props: ['currentRoom'],
		data() {
			return {
				items: '',
				query: '',
				prepareItems: [],
				showCustomField: false,
				itemWidth: '',
				itemHeight: '',
				itemDepth: '',
				index: ''
			}
		},
		created() {
			this.items = dataBus.inventory.data;
		},
		methods: {
			//-- Add this item in room
			addItem(index) {

 				let getItem = this.items[index];
 				let addInRoom = this.currentRoom.room_items;
 				let toAddPrepared = this.prepareItems;
 				toAddPrepared.forEach(function(it, key){
 					addInRoom.push(it);
 				});
 				let getLastItem = addInRoom.length - 1;
 				this.$emit('close-modal')

 			},
 			closeAddModel() {
 				this.$emit('close-modal');
 			},
 			addToPrepared(index, event) {
 				let getItem = this.matches[index];
 				let createItem = {name: getItem.name, quantity: 1, image: getItem.image, id: getItem.id };
 				this.prepareItems.push(createItem);
				event.target
				.classList.add('checked');
 			},
 			saveCustomItem(index) {
 				let iWidth = this.itemWidth;
 				let iHeight = this.itemHeight;
 				let iDepth = this.itemDepth;
 				let getItem = this.items[index];
 				let customItem = { name: this.query, quantity: 1, image: '', with: iWidth, height: iHeight, depth: iDepth  }
 				let addInRoom = this.currentRoom.room_items;
 				addInRoom.push(customItem);
 				this.$emit('close-modal');
 			},
 			imgClass(cls) {
 				var iconImgName = cls; 
 				if(iconImgName !== null) {
 					var iconClass = iconImgName.slice(0,-4);
 					return iconClass;
 				}
 				else {
 					return "";
 				}	
 			},
		},
		computed: {
 			matches() {
 				let result =  this.items.filter((item) => item.name.toLowerCase().indexOf(this.query.toLowerCase()) > -1);
 				if(this.query == '') {
 					result = this.items;
 			
 				}
 				if(result.length == 0) {
 					console.log("no RESULTS!!!")
 					this.showCustomField = true;
 				}
 				else {
 					this.showCustomField = false;
 				}
 				console.log(result);
 				return result;
 			}
 		}
	}
</script>
<style lang="scss">
	
</style>

