<!-- Main ESTIMATE form holder holds every step and component of estimate form -->
<template>
 	<div>
 		<div class="starting-form step-1 form-auto">
 			<div class="input-group">
	 			<label for="">Moving from</label>
	 			<div class="input-wrapper">
	 				<vue-google-autocomplete id="map" classname="form-control" placeholder="Country, City or zip" country="us"></vue-google-autocomplete>
	 			</div>
	 			<div class="form-dropdown" v-show="visible">
	 				<div class="options">
	 					<ul>
	 						<li></li>
	 					</ul>
	 				</div>
	 			</div>
 			</div>
 			<div class="input-group">
	 			<label for="">Moving to</label>
	 			<div class="input-wrapper">
	 				<vue-google-autocomplete id="map1" classname="form-control" placeholder="Country, City or zip" country="us"></vue-google-autocomplete>
	 			</div>
 			</div>
 			<div class="input-group">
	 			<label for="">Moving Date</label>
	 			<div class="input-wrapper input-wrapper--datepicker">
	 				<datepicker placeholder="Select Date"></datepicker>
	 			</div>
 			</div>
 			<div class="input-group">
	 			<label for="">How many</label>
	 			<div class="input-wrapper select-wrapper">
	 				<custom-select :options="options" value-key="id" label-key="name" v-model="selected"></custom-select>
	 			</div>
 			</div>
 			<button class="btn-submit" @click="showModal = true">get a quote</button>
 		</div>
 		<!-- input info details form modal component -->
 		<personal-data v-if="showModal" @close="showModal = false, showItemPicker=true" @close-all="showModal = false"></personal-data>
 		<!-- list and choose all inventory component -->
 		<items-picker v-if="showItemPicker" :rooms="rooms"></items-picker>
 	</div>
</template>

<script>
	import axios from 'axios';
	import { dataBus } from '../main';
	
 	export default {
	 		data() {
 			return {
 				rooms: '',
 				inventory: '',
 				query: '',
 				visible: false,
 				locations: '' ,
 				showModal: false,
 				showItemPicker: false,
 				options: [
					{ name: 'Studio', id: 1 },
					{ name: '1 Bedroom', id: 2 },
					{ name: '2 Bedroom', id: 3 },
					{ name: '3 Bedroom', id: 4 },
					{ name: 'Large House', id: 5 },
					{ name: 'Office', id: 6 }

			    ],
			    selected: { name: 'Home size', id: 7 }
 			};
 		},

 		created() {
 			dataBus.$on();
 			let headers  = {
		        'Authorization': 'eCLk7RvaJfYSnQaneUoH'
		    }
		    let requestRooms = "https://dev.ultimatemoving.us/api/v1/rooms"
			let requestInventory = "https://dev.ultimatemoving.us/api/v1/inventory"

			const requestOne = axios.get(requestRooms, {headers});
			const requestTwo = axios.get(requestInventory, {headers});

 			axios.all([requestOne, requestTwo])
 			.then(axios.spread((...responses) => {
				const responseOne = responses[0]
				const responseTwo = responses[1]
				// use/access the results 
	
		 			this.rooms = responseOne.data.data;
		 			dataBus.inventory = responseTwo.data;
		 				console.log(dataBus.inventory)
				}))
 			.catch(errors => {
				// react on errors.
			})	
 		},
 		methods: {
 			toggleVisible() {
 				this.visible = !this.visible;
 			},
 			itemClicked(index) {
 				console.log(this.matches[index]);
 			}
 		}
 	}
</script>

<style lang="scss">
	

</style>