<template>
	<div class="cars-picekr-wrapper step-4">
		<!-- steps show bar -->
		<header class="steps-show-bar">
			<div class="container">
				<ul>
					<li class="step-num-1 passed"><span>1</span><i>My <em>move </em>plan</i></li>
					<li class="step-num-2 passed"><span>2</span><i><em>My </em>details</i></li>
					<li class="step-num-3 passed"><span>3</span><i><em>Select </em>your items</i></li>
					<li class="step-num-4 active"><span>4</span><i><em>Moving your </em>car<em>?</em></i></li>
					<li class="step-num-5"><span>5</span><i><em>Review and </em>finish</i></li>
				</ul>
			</div>
		</header>
		<main class="main-panel">
			<div class="container">
				<h2 class="step__title">Would you like to move your car?</h2>
				<!--Skip step or cleaar ALL-->
				<div class="clear-note">
					<div class="inner-wrapper">
						<p>If you wish to add one or more car please click on add car button. You can delete added car. Also you can skip this step.</p>
					</div>
					<div class="btn-wrapper">
						<button class="btn-default btn-skip b-white" ><span>Skip this</span></button>
						<button class="btn-default btn-clear b-grey" @click="triggerClear()"><span>Clear all cars</span></button>
					</div>
				</div>
				<section class="add-cars">
					<div class="froms-container">
						<div v-for="(form, index) in carsInput">
							<add-car-form :indexNum="index" @remove="carsInput.slice(index)"></add-car-form>	
						</div>
						
						<!-- add more cars -->
						<div class="btn-wrapper">
							<button class="btn-default b-grey" @click="appendCarsInput()"><span><i>+</i>Add car</span></button>
						</div>
					</div>		
				</section>
				<button class="btn-default btn-back b-white" @click="$emit('back-to-items')"><span>Back</span></button>
				<button class="btn-default btn-next" @click="$emit('next-to-review')"><span>Next</span></button>
			</div>
		</main>
	</div>
</template>
<script>
	import axios from 'axios';
	export default {
		data() {
			return {
				carsInput: [
					
				],
				inputToRemove: '',
				testNum: 1
			}
		},
		methods: {
			appendCarsInput() {
				let num = this.testNum;
				this.carsInput.push(num);
				this.testNum = this.testNum + 1;
				console.log(num, this.carsInput);
				
		    },
		},
		created() {
			let requestCars = "http://cc.localhost/api/cars";
			
 			axios.get(requestCars)
 			.then(response => {
				console.log(response.data);
				})
 			.catch(errors => {
				// react on errors.
				console.log('ddadad');
				console.log(errors)
			})
		}
	}
</script>