<!-- ITEM PICKER with all -functionality -->
<template>
	<div class="items-picker-wrapper step-3">
		<!-- steps show bar -->
		<header class="steps-show-bar">
			<div class="container">
				<ul>
					<li class="step-num-1 passed"><span>1</span><i>My <em>move </em>plan</i></li>
					<li class="step-num-2 passed"><span>2</span><i><em>My </em>details</i></li>
					<li class="step-num-3 active"><span>3</span><i><em>Select </em>your items</i></li>
					<li class="step-num-4"><span>4</span><i><em>Moving your </em>car<em>?</em></i></li>
					<li class="step-num-5"><span>5</span><i><em>Review and </em>finish</i></li>
				</ul>
			</div>
		</header>
		<main class="main-panel">
			<div class="container">
				<h2 class="step__title">Get through your home and create your inventory</h2>
				<!--Skip step or cleaar ALL-->
				<div class="clear-note">
					<div class="inner-wrapper">
						<p>We have prefilled your inventory with the most common rooms and items. You can now continue editing them. If you want a clean slate you can clear all rooms and start from scratch. If you wish you can skip this step by clicking on the button.</p>
					</div>
					<div class="btn-wrapper">
						<button class="btn-default btn-skip b-white" ><span>Skip this</span></button>
						<button class="btn-default btn-clear b-grey" @click="triggerClear()"><span>Clear all rooms</span></button>
					</div>
				</div>

				<div class="rooms">
					<div>
						<!-- room -->
						<section v-for="(defaultroom,index) in displayRooms" class="room">
							<div class="room__tab" @click="$event.currentTarget.parentElement.classList.toggle('expand')">
								<h3>{{ defaultroom.room_info.name }} ({{ defaultroom.room_items.length }})</h3>
								<i class="icon-arrow-down"></i>
							</div>
							<div class="btn-dots-edit" @click="$event.currentTarget.classList.toggle('active')"><i class="icon-edit"></i>
								<nav class="edit-menu">	
									<span class="room__rename" @click="addRenameParentClass">Rename</span>
									<span class="room__remove" @click="addParentClass">Remove</span>
								</nav>
							</div>
							<!--rename-modal-->
							<div class="rename-modal" @click="closeModalRename">
								<div class="ask-box">
									<h4>Rename {{defaultroom.room_info.name}}</h4>
									<span class="close" @click="removeRenameParentClass">X</span>
									 <div class="input-wrapper"><input type="text" :placeholder="defaultroom.room_info.name" @input="newRoomName = $event.target.value" :value="newRoomName"/></div>
									<button class="btn-default btn-ask-box" @click="renameRoom(index,newRoomName)"><span>Change</span></button>
								</div>
							</div>
							<!--remove-room-modal-->
							<div class="remove-modal" @click="closeModalRemove">
								<div class="ask-box">
									<h4>Remove {{defaultroom.room_info.name}}</h4>
									<span class="close" @click="removeParentClass">x</span>
									<p>Are you sure you want to remove this room? All the items in the room will be discarded.</p>
									<button class="btn-default btn-ask-box" @click="removeRoom(index)"><span>Remove</span></button>
								</div>
							</div>
									
							<div class="room__items-list">
								<!-- ITEM single inventory item -->
								<article v-for="(item,indexIt) in  defaultroom.room_items" class="item">
									<div class="item__top">
										<h5>{{ item.name }}</h5>
										<span class="icon-note" @click="addNoteParentClass"></span>
									</div>
									
									<!-- item img -->
									<!-- <i class="item__img" :class="makeClass(item.image)"></i> -->
									<figure class="img-holder">
										<img src="/src/assets/img/icon_armchair.png" alt="">
									</figure>
									<!--quantity counter -->
									<div class="quantity">
										<div class="inner">
											<i class="decrease" @click="decrease(item, index, indexIt)">-</i>
												<span>{{ item.quantity }}</span>
											<i class="increase" @click="item.quantity++">+</i>
										</div>
									</div>
									<!--note-modal-->
									<div class="note-modal" @click="closeModalNote">

										<div class="ask-box">
											<div class="note-modal__top">
												<i :class="makeClass(item.image)"></i>
												<h4>{{ item.name }}</h4>
												<span class="close" @click="removeNoteParentClass">x</span>
											</div>
											<h6>Item Note</h6>
											<div class="textarea-wrapper">
												<textarea name="" id="" cols="30" rows="10" placeholder="Write some details about the item, if it is glass/fragile and require crating, or it is very heavy..." v-model="textNote"></textarea>
											</div>
											<button class="btn-default btn-ask-box" @click="addNote(index, indexIt, $event)"><span>Change</span></button>
										</div>
									</div>
								</article>
								<div class="add-items" @click="toggleItemModal(index)">
									<i>Add Item</i>
									<span @click="">+</span>
								</div>
							</div>
							
						</section>
						<!-- modal for adding items to rooms -->
						<add-item :currentRoom="currentRoom" v-if="showItemModal" @close-modal="showItemModal = false" @closeAddItem="closeAddItem"></add-item>

						<!-- button for addroom -->
						<div class="button-wrapper">
							<button @click="toggleRoomModal()" class="btn-default btn-addRoom"><span>Add Room/Boxes</span></button>
						</div>
						<!--remove-all-rooms-modal-->
							<div class="remove-all-modal" v-if="showClearModal" @click="closeModalClear">
							<div class="ask-box">
								<span class="close" @click="triggerClear()">x</span>
								<p>Are you sure you want to remove all rooms and their content from this location?</p>
								<button class="btn-default btn-ask-box b-white" @click="triggerClear()"><span>Cancel</span></button>
								<button class="btn-default btn-ask-box b-red" @click="clearAll()"><span>Remove</span></button>
							</div>
						</div>
					</div>
					<button class="btn-default btn-back b-white" @click="$emit('close')"><span>Back</span></button>
					<button class="btn-default btn-next" @click="$emit('next-on-car')"><span>Next</span></button>
				</div>
			</div>
		</main>

		<!-- ADD ROOMS BOX modal -->
		<div class="addroom-modal" v-if="showRoomsModal" @click="closeAddRoom">
			<div class="addroom-box" >
				<div class="addroom-box__top">
					<h2>Add Room/boxes</h2>
					<span class="close" @click="toggleRoomModal">x</span>
				</div>
				<div class="addroom-box__main">
					<ul>
						<li v-for="(room,index) in allRooms"  v-bind:index="index" @click="addRoom(index)">
							<div :class="'icon-' + room.room_info.name.replace(/\s+/g, '-').toLowerCase()"> 	<span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></div>
							<span>{{room.room_info.name}}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import axios from 'axios';
	import { dataBus } from '../main';

	export default {
		props: ['rooms'],
 		data() {
 			return {
 				showItemModal: false,
 				showRoomsModal: false,
 				showClearModal: false,
 				displayRooms: '' ,
 				allRooms: '',
 				currentRoom: '',
 				isActive: '',
 				newRoomName: '',
 				textNote: ''
 			};
 		},
 		methods: {
 			// Choose room to add			
 			startAdding(index) {
 				this.currentRoom = this.displayRooms[index];
 			},
 			// Add room
 			addRoom(index) {
 				let roomToAdd = this.allRooms[index]; 
 				let whereToAdd = this.displayRooms;
 				// console.log(whereToAdd);
 				whereToAdd.push(roomToAdd);
 				this.toggleRoomModal();
 			},
 			//-- CLEAR all rooms
 			triggerClear() {
 				this.showClearModal = !this.showClearModal;
 			},
 			clearAll() {
 				this.displayRooms = [];
 				this.showClearModal = !this.showClearModal;
 			},
 			// show modal for adding items
 			toggleItemModal(index) {
 				this.startAdding(index);
 				this.showItemModal = !this.showItemModal;
 			},
 			// show modal for addiing rooms
 			toggleRoomModal() {
 				this.showRoomsModal = !this.showRoomsModal;
 			},
 			toggleRemoveModal() {
 				this.showRemoveModal = !this.showRemoveModal;
 			},
 			// remove item from room
 			removeItem(index, indexIt) {
 				let hereRemove = this.displayRooms[index];
 				let itemToRemove = hereRemove.room_items[indexIt];
 				hereRemove.room_items.splice(indexIt,  1);
 			},
 			// remove room from display
 			removeRoom(index){
 				let roomRemove = this.displayRooms[index];
 				this.displayRooms.splice(index, 1);
 				// this.toggleRemoveModal();
 				this.removeParentClass(event);
 			},
 			// rename room from display
 			renameRoom(index, value){
 				let roomRename = this.displayRooms[index];
 				roomRename.room_info.name = value;
 				this.removeRenameParentClass(event);
 			},
 			// Add note
 			addNote(index, indexIt, event) {
 				let hereRemove = this.displayRooms[index];
 				let noteForItem = hereRemove.room_items[indexIt];
 				noteForItem.note = this.textNote;
 				event.target
				.closest('.item')
				.classList.remove('showNoteModal');
 			},
 			decrease(it,index,indexIt) {
 				it.quantity--;
 				if(it.quantity < 1) {
 					return this.removeItem(index, indexIt);
 					
 				}
 				
 			},
 			makeClass(cls) {
 				let iconImgName = cls; 
 				if(iconImgName !== null) {
 					var iconClass = iconImgName.slice(0,-4);
 					return iconClass;
 				}
 				else {
 					return "";
 				}	
 			},
 			addParentClass (event) {
				event.target
				.closest('.room')
				.classList.add('showModal')
			},
			addRenameParentClass (event) {
				event.target
				.closest('.room')
				.classList.add('showRenameModal');

			},
			addNoteParentClass(event) {
				event.target
				.closest('.item')
				.classList.add('showNoteModal');
			},
			removeParentClass (event) {
				event.target
				.closest('.room')
				.classList.remove('showModal');
			},
			removeRenameParentClass (event) {
				event.target
				.closest('.room')
				.classList.remove('showRenameModal');
			},
			removeNoteParentClass (event) {
				event.target
				.closest('.item')
				.classList.remove('showNoteModal');
			},
			closeModalClear: function(event) {
		        if(event.target == event.currentTarget)
		        this.triggerClear();
		    },
		    closeModalRename: function(event) {
		        if(event.target == event.currentTarget) {
		        	event.target
					.closest('.room')
					.classList.remove('showRenameModal');
		        }
		  
		    },
		    closeModalRemove: function(event) {
		        if(event.target == event.currentTarget) {
		        	event.target
					.closest('.room')
					.classList.remove('showModal');
		        }
		    },
		    closeModalNote: function(event) {
		        if(event.target == event.currentTarget) {
		        	event.target
					.closest('.item')
					.classList.remove('showNoteModal');
		        }
		    },
		    closeAddRoom() {
		    	if(event.target == event.currentTarget) {
		        	this.showRoomsModal = false;
		        }
		    },
		     closeAddItem() {
		    	if(event.target == event.currentTarget) {
		        	this.showItemModal = false;
		        }
		    }

 		},
 		watch: {
			displayRooms: {
				handler() {
					localStorage.setItem('displayRooms', JSON.stringify(this.displayRooms));
				},
				deep: true
			}
		},
 		created() {
			let requestDefault = "https://api.myjson.com/bins/m3gd0";
			let requestAllDefault = "https://api.myjson.com/bins/1ghvcw";
			const requestThree = axios.get(requestDefault);
			const requestFour = axios.get(requestAllDefault);
 			axios.all([requestThree, requestFour])
 			.then(axios.spread((...responses) => {
				const responseThree = responses[0]
				const responseFour = responses[1]
				// use/access the results 
					this.allRooms = responseFour.data;
		 			console.log(this.allRooms);

		 			if (localStorage.getItem('displayRooms')) 
		 				this.displayRooms = JSON.parse(localStorage.getItem('displayRooms'));
		 			else
		 				localStorage.setItem('displayRooms', JSON.stringify(responseThree.data)); 
		 				this.displayRooms = JSON.parse(localStorage.getItem('displayRooms'));
				}))
 			.catch(errors => {
				// react on errors.
			})
 		}
 		
	}

</script>
<style lang="scss">
	
</style>

