<!-- Main ESTIMATE form holder holds every step and component of estimate form -->
<template>
 	<div>
 		<div class="starting-form step-1">
 			<div class="input-group">
	 			<label for="">Moving from</label>
	 			<div class="input-wrapper">
	 				<vue-google-autocomplete id="map" classname="form-control" placeholder="Country, City or zip" country="us"  v-on:placechanged="getAddressFrom"></vue-google-autocomplete>
	 				<i class="icon-location"></i>
	 			</div>
 			</div>
 			<div class="input-group">
	 			<label for="">Moving to</label>
	 			<div class="input-wrapper">
	 				<vue-google-autocomplete id="map1" classname="form-control" placeholder="Country, City or zip" country="us" v-on:placechanged="getAddressTo"></vue-google-autocomplete>
	 				<i class="icon-location"></i>
	 			</div>
 			</div>
 			<div class="input-group">
	 			<label for="">Moving Date</label>
	 			<div class="input-wrapper input-wrapper--datepicker">
	 				<datepicker placeholder="Select Date" value="date" :format="formatDate"></datepicker>
	 				<i class="icon-calendar"></i>
	 			</div>
 			</div>
 			<div class="input-group">
	 			<label for="">Home size</label>
	 			<div class="input-wrapper select-wrapper">
	 				<custom-select :options="options" value-key="id" label-key="name" v-model="homeSize"></custom-select>
	 				<i class="icon-size"></i>
	 			</div>
 			</div>
 			<button class="btn-submit" @click="startQuote">get a quote</button>
 		</div>
 		
 		<!-- input info details form modal component -->
 		<personal-data v-if="showModal" @close="showModal = false, showItemPicker=true" @close-all="showModal = false"></personal-data>
 		<!-- list and choose all inventory component -->
 		<items-picker v-if="showItemPicker" :rooms="rooms" @close="showModal = true, showItemPicker=false" @next-on-car="showItemPicker=false, showCarPicker=true"></items-picker>
 		<cars-picker v-if="showCarPicker" @back-to-items="showItemPicker=true, showCarPicker=false" @next-to-review="showReview=true"></cars-picker>
 		<review-page v-if="showReview"></review-page>
 	</div>
</template>

<script>
	import axios from 'axios';
	import { dataBus } from '../main';
	
 	export default {
	 		data() {
 			return {
 				rooms: '',
 				inventory: '',
 				query: '',
 				visible: false,
 				locations: '' ,
 				showModal: false,
 				showItemPicker: false,
 				showCarPicker: false,
 				showReview: false,
 				//-- data form 
 				addressFrom: '',
 				addressTo: '',
 				date: '',
 				takeDate: '',
 				options: [
					{ name: 'Studio', id: 1 },
					{ name: '1 Bedroom', id: 2 },
					{ name: '2 Bedroom', id: 3 },
					{ name: '3 Bedroom', id: 4 },
					{ name: 'Large House', id: 5 },
					{ name: 'Office', id: 6 }

			    ],
			    homeSize: { name: 'Home size', id: 7 }
 			};
 		},

 		created() {
 			dataBus.$on();
 			let headers  = {
		        'Authorization': 'eCLk7RvaJfYSnQaneUoH'
		    }
		    let requestRooms = "https://dev.ultimatemoving.us/api/v1/rooms"
			let requestInventory = "https://dev.ultimatemoving.us/api/v1/inventory"

			const requestOne = axios.get(requestRooms, {headers});
			const requestTwo = axios.get(requestInventory, {headers});

 			axios.all([requestOne, requestTwo])
 			.then(axios.spread((...responses) => {
				const responseOne = responses[0]
				const responseTwo = responses[1]
				// use/access the results 
	
		 			this.rooms = responseOne.data.data;
		 			dataBus.inventory = responseTwo.data;
		 		
				}))
 			.catch(errors => {
				// react on errors.
			})	
 		},
 		methods: {
 			toggleVisible() {
 				this.visible = !this.visible;
 			},
 			itemClicked(index) {
 			
 			},
 			getAddressFrom(addressData, placeResultData, id) {
		        this.addressFrom = addressData;
		    },
		    getAddressTo(addressData, placeResultData, id) {
		        this.addressTo = addressData;
		    },
		    startQuote() {
		    	dataBus.moveFrom = this.addressFrom;
		    	dataBus.moveTo = this.addressTo;
		    	dataBus.moveDate = this.takeDate;
		    	this.showModal = true;
		    },
		    formatDate(date) {
				var monthNames = [
					"Jan", "Feb", "Mar",
					"Apr", "May", "June", "July",
					"Aug", "Sep", "Oct",
					"Nov", "Dec"
				];

				var day = date.getDate();
				var monthIndex = date.getMonth();
				var year = date.getFullYear();
				
				let userDate = day + ' ' + monthNames[monthIndex] + ' ' + year;
				this.takeDate = userDate;
				this.date = userDate;
				let dateSend = year + '-' + (parseInt(monthIndex) + 1) + '-' + day;
				dataBus.dateForSend = dateSend;
				console.log(this.date)
				console.log(dataBus.dateForSend)

			}

 		}
 	}
</script>

<style lang="scss">
	

</style>