<!-- Part of estimate form popup modal with main info input (name, last name, email, phone) -->
<template>
	<div id="modal-template" class="modal-wrapper step-2">
		<transition name="modal">
			<div class="modal-inner-wrapper">
				<!-- steps show bar -->
				<header class="steps-show-bar">
					<div class="container">
						<ul>
							<li class="step-num-1 passed"><span>1</span><i>My <em>move </em>plan</i></li>
							<li class="step-num-2 active"><span>2</span><i><em>My </em>details</i></li>
							<li class="step-num-3"><span>3</span><i><em>Select </em>your items</i></li>
							<li class="step-num-4"><span>4</span><i><em>Moving your </em>car<em>?</em></i></li>
							<li class="step-num-5"><span>5</span><i><em>Review and </em>finish</i></li>
						</ul>
					</div>
				</header>
				<main class="main-panel">
					<div class="info-data-container">
						<div class="info-data">
							
							<h2 class="step__title">Tell us your details</h2>
				 			<div class="input-wrapper" :class="nameClass">
				 				<input type="text" placeholder="Your Name*" v-model="inputName" id="name" @input="submitUserDetails">
				 				
				 			</div>
				 			<div class="input-wrapper" :class="lastClass">
				 				<input type="text" placeholder="Your Last Name*" v-model="inputLastName" id="lastname" @input="submitUserDetails">
				 			</div>
				 			<div class="input-wrapper" :class="mailClass">
				 				<input type="email" placeholder="Your Email*" v-model="inputEmail" id="mail" @input="submitUserDetails">

				 			</div>
				 			<div class="input-wrapper" :class="phoneClass">
				 				<input type="text" placeholder="Your Phone*" v-model="inputPhone" id="phone" @input="submitUserDetails">
				 			</div>
				 			<!-- errors -->
							<div class="input-errors" v-if="errors.length">
								<ul>
									<li>{{ errors[0] }}</li>
								</ul>
							</div>
						</div>
						<button class="btn-default btn-back b-white" @click="$emit('close-all')"><span>Back</span></button>
						<button class="btn-default btn-next" @click="checkForm($event)"><span>Next</span></button>
					</div>
				</main>
			</div>
		
		  </transition>
	  </div>
</template>

<script>
	import { dataBus } from '../main';
	export default {
		data() {
			return {
				inputName: '',
				inputLastName: '',
				inputEmail: '',
				inputPhone: '',
				errors:[],
				nameClass: '',
				lastClass: '',
				mailClass: '',
				phoneClass: ''
			}
		},
		methods: {
			submitUserDetails() {
		        dataBus.userName = this.inputName;
		        dataBus.userLastName =  this.inputLastName;
		        dataBus.userEmail = this.inputEmail;
		        dataBus.userPhone = this.inputPhone;

		        this.nameClass = '';
					this.lastClass = '';
					this.mailClass = '';
					this.phoneClass = '';
		 
		        // this.$emit('close');
			},
			checkForm(e) {
					this.errors = [];
					this.nameClass = '';
					this.lastClass = '';
					this.mailClass = '';
					this.phoneClass = '';
					if(!this.inputName) {
						this.errors.push("You must fill all required fields.");
						this.nameClass = 'red';
					}
					if(!this.inputLastName){
						this.errors.push("You must fill all required fields.");
						this.lastClass = 'red';
					} 
						
					 if (!this.inputEmail) {
				        this.errors.push('You must fill all required fields..');
				        this.mailClass = 'red';
				      } else if (!this.validEmail(this.inputEmail)) {
				        this.errors.push('Valid email required.');
				        this.mailClass = 'red';
				      }
					if(!this.inputPhone){
						this.errors.push("You must fill all required fields.");
						this.phoneClass = 'red';
					}
						
					if(!this.errors.length) {
						this.submitUserDetails();
						this.$emit('close');
						this.phoneClass = 'red';
					}
					      e.preventDefault();
		
			},
			validEmail: function (email) {
		      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		      return re.test(email);
		    }

		},
		created() {
 			this.inputName = dataBus.userName;	
 		},
 		mounted() {
 			document.getElementById('name').value = dataBus.userName;
 			document.getElementById('lastname').value = dataBus.userLastName;
 			document.getElementById('mail').value = dataBus.userEmail;
 			document.getElementById('phone').value = dataBus.userPhone;
 		}
	}
</script>

<style lang="scss">
	


</style>