<template>
	<div class="review-page step-5">
		<!-- steps show bar -->
		<header class="steps-show-bar">
			<div class="container">
				<ul>
					<li class="step-num-1 passed"><span>1</span><i>My <em>move </em>plan</i></li>
					<li class="step-num-2 passed"><span>2</span><i><em>My </em>details</i></li>
					<li class="step-num-3 passed"><span>3</span><i><em>Select </em>your items</i></li>
					<li class="step-num-4 passed"><span>4</span><i><em>Moving your </em>car<em>?</em></i></li>
					<li class="step-num-5 active"><span>5</span><i><em>Review and </em>finish</i></li>
				</ul>
			</div>
		</header>
		<main class="main-panel">
			<div class="container">
				<h2 class="step__title">Review your request</h2>
				<section class="review">
					<div class="review__top">
						<div class="top-box">
							<h3>General details</h3>
							<ul class="list-data">
								<li><span>From: </span>{{ this.from.route}}, {{ this.from.locality }}, {{this.from.administrative_area_level_1}}</li>
								<li><span>To: </span>{{ this.to.route}}, {{ this.to.locality }}, {{this.to.administrative_area_level_1}}</li>
								<li><span>Date: </span>{{ this.date }}</li>
							</ul>
						</div>
						<div class="top-box right">
							<h3>Your details</h3>
							<ul class="list-data">
								<li><span>Name: </span>{{ this.name }}</li>
								<li><span>Email: </span>{{this.email }}</li>	
								<li><span>Phone: </span>{{ this.phone }}</li>
							</ul>
						</div>
					</div>
					<div class="review__home">
						<h2>Home</h2>
						<div class="list-all">
							<article class="rooms-review">
								<div class="room" v-for="(defaultroom,index) in reviewData" >
									<h3>{{ defaultroom.room_info.name }} ({{ defaultroom.room_items.length  }})</h3>
									<div class="room__item" v-for="(item,indexIt) in  defaultroom.room_items">
										<p><span class="num">{{ indexIt + 1 }}</span>{{ item.name }} <i class="sum">{{ item.quantity }} Pcs</i> </p>

									</div>
								</div>
							</article>
						</div>
					</div>
					<button class="btn-default btn-back b-white" @click="$emit('back-to-items')"><span>Back</span></button>
					<button class="btn-default btn-next" @click="submitRequest()"><span>Finish</span></button>
				</section>
			</div>
		</main>
	</div>
</template>
<script>
	import axios from 'axios';
	import { dataBus } from '../main';
	export default {

		data() {
			return {
				reviewData: '',
				name: '',
				email: '',
				phone: '',
				from: '',
				to:'',
				date: '',
				package: {
					first_name: "",
					last_name: "",
					move_size_id: 1, //ID from move-sizes endpoint,
					move_date: "",
					email: "",
					phone: "",
					pickup_zip: "",
					delivery_zip: "",
					rooms: [],
					vehicles:[
				      {
				        maker : 'Honda',
				        model : 'Civic',
				        year : 2014,
				        type : 1, //id from vehicle types api
				        operable : 1, //boolean (0/1)
				        trailer : 1, // open: 1, enclosed: 2
				        loaded : 1 // booleadn (0/1)
				      } 
				    ]
				}
			}
		},
		methods: {
			submitRequest() {
				//--SEND 
				const url = 'http://cc.localhost/api/post';
				axios.post(url, {
				  data: this.package, // look ma, no JSON.stringify()!
				})
				.then(response => (console.log(response)
					)
			  	
			  	);
			}
		},
		created() {
			this.reviewData = JSON.parse(localStorage.getItem('displayRooms'));
			this.name = dataBus.userName;
			this.email = dataBus.userEmail; 
			this.phone = dataBus.userPhone; 
			this.from = dataBus.moveFrom;
			this.to = dataBus.moveTo; 
			this.date = dataBus.moveDate;
			//Collect all data
			this.package.first_name = this.name;
			this.package.last_name = dataBus.userLastName;
			this.package.move_date = dataBus.dateForSend;
			this.package.email = dataBus.userEmail;
			//this.package.rooms = this.reviewData;
			let $that = this;
			this.reviewData.forEach(function(room, index){

				let itemArray = [];
				room.room_items.forEach(function(item, index) {
					itemArray[index] = { 'id': item.id, 'quantity': item.quantity };
				});
				
				$that.package.rooms[index] = { 'id': room.room_info.id, 'name': room.room_info.name, 'items': itemArray };

			});

			console.log(this.package);
		}
	}
</script>