<!-- CUSTOM MENU SELECT DROPDOWN -->
<template>

		<div :class="{ __disabled: disabled }" class="select">
			<div @click="toggle" class="select__label" :class="getLabel(value)">
				{{ getLabel(value) }}
			</div>
			<div v-if="opened" class="select__options">
				<div v-for="o in options" :value="getVal(value)" @click="change(o)" :class="{__active: getVal(o) == getVal(value)}" class="select__option">{{ getLabel(o) }}</div>
			</div>
			<div v-if="opened" @click="toggle" class="select__overlay"></div>
		</div>

</template>
<script>
	export default {
		data () {
			return {
				opened: false
			}
		},
		props: {
			value: {
				required: true
			},
			options: {
				type: Array,
				required: true
			},
			valueKey: {
				type: String,
				required: false
			},
			labelKey: {
				type: String,
				required: false
			},
			onChange: {
				type: Function,
				required: false
			},
			disabled: {
				type: Boolean,
			}
		},

		methods: {
			getVal (opt) {
				return !this.valueKey ? opt : opt[this.valueKey]
			},
			getLabel (opt) {
				return !this.labelKey ? opt : opt[this.labelKey]
			},
			change (opt) {
				this.$emit('input', opt)
				this.opened = false

			if (this.onChange !== undefined) {
					this.onChange(this.value)
				}
			},
			toggle () {
				if ( this.disabled ) {
					return
				}
				this.opened = !this.opened
			}
		}
	}
</script>