<!-- ZERO STEP from site you can start form here insted from hero -->
<template>
	<div class="zero-form step-0">
		<!-- steps show bar -->
		<header class="steps-show-bar">
			<div class="container">
				<ul>
					<li class="step-num-1 active"><span>1</span><i>My <em>move </em>plan</i></li>
				</ul>
			</div>
		</header>
		<main class="main-panel">
			<div class="container">
				<h2 class="step__title">What would you like to move?</h2>
				<div class="start-choose">
					<div class="start__house">
						<figure class="img-wrapper">
							<img src="../assets/img/move-house.png" alt="">
						</figure>
						<h3>Home</h3>
						<div class="icon-success"><span class="path1"></span><span class="path2"></span></div>
					</div>
					<div class="start__car active">
						<figure class="img-wrapper">
							<img src="../assets/img/move-car.png" alt="">
						</figure>
						<h3>Car</h3>
						<div class="icon-success"><span class="path1"></span><span class="path2"></span></div>
					</div>
				</div>
			</div>
			<div class="alternative-form">
				<h2 class="step__title">Choose locations, date and size.</h2>
					<app-mainform v-if="showHomeForm"></app-mainform>
    				<app-autoform v-if="showAutoForm"></app-autoform>
			</div>
		</main>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				showHomeForm: true,
				showAutoForm: false
			}
		}
	}
</script>