//-------------------------
//---------------TYPOGRAPHY
//-------------------------

//------FONT-FACE

@include fontFace(MarkRegular, mark/MarkRegular,  null, null, otf);
@include fontFace(MarkMedium, mark/MarkMedium,  null, null, otf);
@include fontFace(MarkBold, mark/MarkBold,  null, null, otf);
@include fontFace(MarkBook, mark/MarkBook,  null, null, otf);


// //-- Icomoon

@font-face {
  font-family: 'icomoon';
  src:  url('/src/assets/fonts/icomoon/icomoon.eot?crl4bq');
  src:  url('/src/assets/fonts/icomoon/icomoon.eot?crl4bq#iefix') format('embedded-opentype'),
    url('/src/assets/fonts/icomoon/icomoon.ttf?crl4bq') format('truetype'),
    url('/src/assets/fonts/icomoon/icomoon.woff?crl4bq') format('woff'),
    url('/src/assets/fonts/icomoon/icomoon.svg?crl4bq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dining-room .path1:before {
  content: "\e920";
  color: rgb(187, 136, 67);
}
.icon-dining-room .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(206, 160, 100);
}
.icon-dining-room .path3:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(206, 160, 100);
}
.icon-dining-room .path4:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(239, 201, 124);
}
.icon-bedroom .path1:before {
  content: "\e924";
  color: rgb(187, 136, 67);
}
.icon-bedroom .path2:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(239, 201, 124);
}
.icon-bedroom .path3:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bedroom .path4:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(239, 201, 124);
}
.icon-bedroom .path5:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(239, 201, 124);
}
.icon-bathroom .path1:before {
  content: "\e925";
  color: rgb(239, 201, 124);
}
.icon-bathroom .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(206, 160, 100);
}
.icon-bathroom .path3:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(239, 201, 124);
}
.icon-bathroom .path4:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(187, 136, 67);
}
.icon-boxes .path1:before {
  content: "\e92a";
  color: rgb(239, 201, 123);
}
.icon-boxes .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(206, 160, 100);
}
.icon-boxes .path3:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(188, 136, 67);
}
.icon-boxes .path4:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-garage .path1:before {
  content: "\e932";
  color: rgb(239, 201, 124);
}
.icon-garage .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(187, 136, 67);
}
.icon-garage .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(239, 201, 124);
}
.icon-garage .path4:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(206, 160, 100);
}
.icon-garage .path5:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(206, 160, 100);
}
.icon-kitchen .path1:before {
  content: "\e937";
  color: rgb(239, 201, 124);
}
.icon-kitchen .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(187, 136, 67);
}
.icon-kitchen .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(187, 136, 67);
}
.icon-kitchen .path4:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(187, 136, 67);
}
.icon-kitchen .path5:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(187, 136, 67);
}
.icon-kitchen .path6:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(187, 136, 67);
}
.icon-kitchen .path7:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(206, 160, 100);
}
.icon-kitchen .path8:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(239, 201, 124);
}
.icon-living-room .path1:before {
  content: "\e93f";
  color: rgb(187, 136, 67);
}
.icon-living-room .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(239, 201, 124);
}
.icon-living-room .path3:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(206, 160, 100);
}
.icon-living-room .path4:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(206, 160, 100);
}
.icon-living-room .path5:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(239, 201, 124);
}
.icon-living-room .path6:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(239, 201, 124);
}
.icon-living-room .path7:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(187, 136, 67);
}
.icon-success .path1:before {
  content: "\e946";
  color: rgb(73, 210, 119);
}
.icon-success .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-edit:before {
  content: "\e91f";
}
.icon-mail:before {
  content: "\e91e";
  color: #ee3f23;
}
.icon-arrow-down:before {
  content: "\e91d";
}
.icon-play:before {
  content: "\e91c";
  color: rgba(255, 255, 255, 0.8);
}
.icon-star:before {
  content: "\e91b";
  color: #eedb36;
}
.icon-1:before {
  content: "\e918";
  color: #ee3f23;
}
.icon-2:before {
  content: "\e919";
  color: #ee3f23;
}
.icon-3:before {
  content: "\e91a";
  color: #ee3f23;
}
.icon-note:before {
  content: "\e927";
  color: #ababab;
}
.icon-close:before {
  content: "\e900";
}
.icon-ham:before {
  content: "\e901";
}
.icon-angies .path1:before {
  content: "\e902";
  color: rgb(255, 255, 255);
}
.icon-angies .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(239, 64, 35);
}
.icon-fb .path1:before {
  content: "\e904";
  color: rgb(255, 255, 255);
}
.icon-fb .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(239, 64, 35);
}
.icon-google .path1:before {
  content: "\e906";
  color: rgb(255, 255, 255);
}
.icon-google .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(239, 64, 35);
}
.icon-insta .path1:before {
  content: "\e908";
  color: rgb(255, 255, 255);
}
.icon-insta .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(239, 64, 35);
}
.icon-insta .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(239, 64, 35);
}
.icon-insta .path4:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(239, 64, 35);
}
.icon-twitter .path1:before {
  content: "\e90c";
  color: rgb(255, 255, 255);
}
.icon-twitter .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(239, 64, 35);
}
.icon-yelp .path1:before {
  content: "\e90e";
  color: rgb(255, 255, 255);
}
.icon-yelp .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(239, 64, 35);
}
.icon-youtube .path1:before {
  content: "\e910";
  color: rgb(255, 255, 255);
}
.icon-youtube .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(239, 64, 35);
}
.icon-calendar:before {
  content: "\e912";
  color: #aaa;
}
.icon-headphones:before {
  content: "\e913";
  color: #fff;
}
.icon-location:before {
  content: "\e914";
  color: #aaa;
}
.icon-phone:before {
  content: "\e915";
  color: #49d277;
}
.icon-profile:before {
  content: "\e916";
  color: #505050;
}
.icon-size:before {
  content: "\e917";
  color: #aaa;
}







//------FONT-SIZE

body {
    //font-size: 0!important; 
}

$baseFontSize: 10px; // DO NOT CHANGE THIS

html {
    font-size: $baseFontSize;
    //change this part
    
    @include breakpoint (desktop--small) {//10px - 640px
        font-size: 2.666666666666667vw;
    }
   
}


