<template>
    <div class="estimate-wrapper">
    	
    	<div class="home-start">
    		<div class="tab-wrapper" :class="switchClass">
	    		<div class="btn-tab-house btn-tab"  @click="switchHome()"><span>Home</span></div>
	    		<div class="btn-tab-car btn-tab" @click="switchAuto()"><span>Auto</span></div>
    		</div>
        	<app-mainform v-if="showHomeForm"></app-mainform>
        	<app-autoform v-if="showAutoForm"></app-autoform>

        <!--ZERO STEP choose what to move -->
        <zero-step v-if="false"></zero-step>
		</div>
    </div>
</template>

<script>
    export default {
       data() {
       		return {
       			showHomeForm: true,
       			showAutoForm: false,
       			switchClass: ''
       		}
       },
       methods: {
       		switchHome() {
       			this.showHomeForm = true;
       			this.showAutoForm = false;
       			this.switchClass = 'active-home'
       			
       		},
       		switchAuto() {
       			this.showHomeForm = false;
       			this.showAutoForm = true;
       			this.switchClass = 'active-car'
       			
       		}
       }
    }
</script>

<style lang="scss">
    @import "./scss/style.scss";
</style>
